.logo {
    &__img {
      position: absolute;
      bottom: 0%;
      width: 45%;
      top: 0px;
    }
  }
  
  .header-menu {
    margin-top: 16px;
    color: #f5f5f5;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #02053c;
    position: fixed;
    z-index: 1;
  }
  
  .title {
    width: 70%;
    text-align: center;
    font-size: 2em;
    margin: -90px 15% -15px 15%;
    color: white;
  }

  .foto{
    width: 57%;
    color: black;
    height: 28px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .form {
    margin-top: 36px;
  }
  
  input {
    width: 55%;
    margin: 5px 20% 0 20%;
  }
  
  label {
    margin: 8px 20% 0 22%;
    display: flex;
  }
  
  footer {
    height: 74px;
  }
  
  .btn {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    &__entrar {
      margin-top: 15px;
      width: 100%;
      font-size: 1em;
      color: white;
      background-color: #a19f9f;
      height: 35px;
      border-radius: 5px;
    }
  }

  .input{
    margin-top: 48px;
    z-index: 1;
    background-color: #02053c;
  }
  