#titulo {
  margin-top: 38px;
}
.title {
  width: 70%;
  margin: 0 15% 0 15%;
  text-align: center;
  font-size: 2em;
  color: white;
}
#container {
  margin-top: 24px;
}

.content {
  z-index: 1;
  background-color: #02053c;
}

.logo {
  position: absolute;
  width: 100%;
  display: flex;
  &__img {
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    top: -10px;
  }
}

.header-menu {
  color: #f5f5f5;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #02053c;
  position: fixed;
  z-index: 1;
}

.header-img {
  color: #f5f5f5;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #02053c;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 35px;
}

input {
  width: 55%;
  margin: 5px 20% 0 20%;
}

label {
  margin: 16px 20% 0 22%;
  display: flex;
}
footer {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  height: 74px;
}

.btn {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  &__entrar {
    margin-top: 15px;
    width: 100%;
    font-size: 1em;
    color: white;
    background-color: #a19f9f;
    height: 35px;
    border-radius: 5px;
  }
}

.forget {
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  margin-left: 74px;
  margin-top: 4px;
}

.modal {
  background: red;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 300px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  .content-modal {
    padding: 10px;
    border-radius: 10px;
    background: #d9d9d9;
    display: grid;
    justify-content: center;
    margin-top: 16px;

    h1 {
      font-size: 1em;
      text-align: center;
    }
  }

  h1 {
    text-align: center;
  }

  .topo {
    display: flex;
    flex-direction: row-reverse;
  }
}
