<section class="talks">
  <div class="header">
    <img (click)="goToFeed()" src="../../../assets/arrow left_.svg" alt="" />
    <img src="../../../assets/menu_.svg" alt="" (click)="toggleMenu()" />
  </div>
  <div class="titulo">
    <h1>Chats</h1>
  </div>

  <div class="conversas">
    <div class="chat">
      <img
        src="../../../assets/2D61F2BA-8623-4081-8B70-A7A0951BE317_1_105_c.jpeg"
        alt=""
      />
      <h1>Laiane</h1>
    </div>
    <div class="chat" (click)="goToChat()">
      <img
        src="../../../assets/239363815_344713897664306_3306552333959732867_n.jpeg"
        alt=""
      />
      <h1>Bruna</h1>
    </div>
    <div class="chat">
      <img
        src="../../../assets/158839936_118618393853922_8781297424711075173_n.jpeg"
        alt=""
      />
      <h1>Alice</h1>
    </div>
    <div class="chat">
      <img
        src="../../../assets/ab190e81-efe8-4ffe-a6c1-ecc2ddf017c1.jpeg"
        alt=""
      />
      <h1>Samuel</h1>
    </div>
  </div>
</section>

<nav class="sidebar" [class.open]="menuOpen">
  <ul>
    <li><a (click)="goToFeed()">Feed</a></li>
    <li><a (click)="goToConversas()">Conversas</a></li>
    <li><a (click)="goToEdit()">Editar Perfil</a></li>
    <li><a (click)="exit()">Sair</a></li>
  </ul>
</nav>
