html,
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

body {
  background-color: #02053c;
  padding: 0;
  margin: 0;
}

.logo {
  position: absolute;
  width: 100%;
  display: flex;
  &__img {
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 75%;
    margin-top: 42px;
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#container {
  padding-bottom: 40vh;
  overflow: hidden;
}

#content {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

header div {
  width: 1000px;
  background: red;
  height: 52px;
  margin: 0 auto;
}

footer {
  position: relative;
  bottom: 0px;
  color: #fff;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

label {
  margin-top: 10px;
  text-align: center;
  color: white;
  size: 1em;
}

input {
  width: 60%;
  height: 25px;
  border-radius: 10px;
  margin: 24px 20% 0 20%;
}

.content {
  z-index: 1;
  background-color: #02053c;
  position: inherit;
}


